* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: linear-gradient(90deg, rgba(65, 184, 131, 1) 0%, rgba(0, 212, 255,1)100%);
}

.digitar-tarefa {
    align-items: center;
    margin: 0px;
    height: 60px;
    width: 1225px;
    padding-left: 5%;
    font-size: large;
    border: 1px solid #000000;
}

.button-add {
    height: 61px;
    width: 120px;
    cursor: pointer;
    margin-left: 15px;
}

.ladoTexto {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    width: 1225px;
    
}

.error {
   border: 2px red; 
}

.error::placeholder {
    color: red;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
    margin-top: 6px;
}

.task-item i {
    background-color: #41b883;
    color: #fff;
    padding: 12px;
    border-radius: 5px;
}

.completed {
    text-decoration: line-through;
}

.task-item i:hover {
    cursor: pointer;
}

#alinharTexto {
    border-radius: 5px;
    margin: 0px;
}

.ladoBotao {
    width: 120px;
    height: 61px;
}

.alinharBt {
    display: flex;
}

